.header {
  width: 90%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header :nth-child(1) {
  margin-left: 7.5%;
}

.navBar {
  width: 60%;
  min-width: 350px;
  display: flex;
  justify-content: space-between;
  padding-right: 2.5%;
}

.navBar a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.logo_image {
  border: 1px solid white;
  border-radius: 36px;
}

@media (prefers-reduced-motion: no-preference) {
  .logo_image {
    animation: App-logo-spin infinite 20s linear;
  }  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}