.header {
  width: 90%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header :nth-child(1) {
  margin-left: 2.5%;
}

.navBar {
  width: 60%;
  min-width: 350px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.items-navBar {
  color: #fff;
  cursor: pointer;
}

.navBar :nth-child(2) {
  margin-right: 0px;
}

.navBar a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.logo_image {
  border: 1px solid white;
  border-radius: 36px;
}

.btn-header {
  display: none;
}

@media screen and (max-width: 500px) {
  .btn-header {
    display: block; 
  }

  .navBar-open {
    display: flex;
    flex-direction: column;
  }

  .items-navBar-open {
    border: 1px solid white;
    width: 100%;
  }

}

@media screen and (min-width: 501px) {
  .navBar-open {
    display: none;
  }
  
  .items-navBar-open {
    display: none;
  }  
}

@media (prefers-reduced-motion: no-preference) {
  .logo_image {
    animation: App-logo-spin infinite 20s linear;
  }  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}