.header {
  width: 90%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header :nth-child(1) {
  margin-left: 2.5%;
}

.navBar {
  width: 60%;
  min-width: 350px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.items-navBar {
  color: #fff;
  cursor: pointer;
}

.navBar :nth-child(2) {
  margin-right: 0px;
}

.navBar a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.logo_image {
  border: 1px solid white;
  border-radius: 36px;
}

.navbar-burger {
  height: 40px;
  width: 40px;
  background-color: transparent;
}

.navbar-burger-open {
  height: 40px;
  width: 40px;
  background-color: transparent;
}

.burger-bar, 
.burger-bar::before, 
.burger-bar::after {
  display: block;
  width: 40px;
  height: 3px;
  position: relative;
  border-radius: 3px;
  background-color: #fff;
  transition: all .5s ease-in-out;
}

.burger-bar::before, 
.burger-bar::after {
  content: "";  
  position: absolute;
  left: 0;
}

.burger-bar::before {
  transform: translateY(-12px);
}

.burger-bar::after {
  transform: translateY(12px);
}

.navbar-burger-open .burger-bar::before {
  transform: rotate(45deg);
}

.navbar-burger-open .burger-bar::after {
  transform: rotate(-45deg);
}

@media screen and (max-width: 500px) {
  .header {
    display:block;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .navbar-burger {
    display: block; 
    position: absolute;
    right: 20px;
    top: 30px;
    width: 40px;
    padding: 0;
    border-width: 0;
  }

  .navbar-burger-open {
    display: block; 
    position: absolute;
    right: 20px;
    top: 30px;
    width: 40px;
    padding: 0;
    border-width: 0;
  }

  .navBar-open {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .navBar-open :nth-child(1) {
    border-top: 1px solid purple;
    margin-top: 13px;
  }

  .items-navBar-open {
    border-bottom: 1px solid purple;
    height: 50px;
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .header :nth-child(1) {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin-left: 0px;
  }

  .logo_image {
    margin-top: 10px;
  }
}


@media (prefers-reduced-motion: no-preference) {
  .logo_image {
    animation: App-logo-spin infinite 20s linear;
  }  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}