.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-inline: 10%;
}

.main-textContainer {
  justify-content: space-between;
}

.main-titleText {
  color: white;
  font-size: 40px;
  font-weight: bold;
  line-height: 2em;
  width: 400px;
}

.main-smallText {
  color: white;
  font-size: 17px;
}

@media screen and (max-width: 800px){
  .main-titleText {
    width: 90%;
  }

  .main-imageTitle {
    display: none;
  }
}