.walletContainer {
  background: #2b076e;
  padding-top: 30px;
}

.walletTitle {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  margin-block-start: 0%;
  margin-block-end: 0%;
  margin-left: 2%;
}

.walletComponent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
  color: white;
}

.walletComponent1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  margin-left: 2%;
}

.walletComponent2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 50px;
}

.walletComponent3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 50px;
  align-items: center;
}

.estimationTitle {
  text-align: justify;
  font-size: 32px;
  line-height: 48px;
  font-weight: bold;
}

.estimationText {
  text-align: justify;
  font-size: 16px;
  line-height: 28px;
}

.statsTitle {
  text-align: justify;
  font-size: 32px;
  line-height: 48px;
  font-weight: bold;
}

.statsetText {
  text-align: justify;
  font-size: 16px;
  line-height: 28px;
}

.tokenTitle {
  text-align: justify;
  font-size: 32px;
  line-height: 48px;
  font-weight: bold;
}

.tokenText {
  text-align: justify;
  font-size: 16px;
  line-height: 28px;
}

.chartStatistique {
  width: 40%;
  height: 400px;
}

.ibepback {
  background-color: #35068c;
  border-radius: 16px;
  height: 300px;
  width: 500px;
  justify-content: space-evenly;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}
.ibepcoin {
  font-size: 24px;
  font: bold;
  color: white;
  display: flex;
  justify-content: center;
  justify-items: center;
  padding-top: 5%;
}
.sousibep {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.ibepcomp {
  background-color: #491f98;
  padding-bottom: 125px;
  border-radius: 16%;
  width: 150px;
  text-align: center;
}

.ibeptitre {
  font-size: 20px;
  font: bold;
  color: white;
}

@media screen and (max-width: 765px) {
  .estimationText,
  .estimationTitle, 
  .statsetText, 
  .statsTitle,
  .tokenTitle,
  .tokenText  {
    text-align: center;
  }
  .buttonEstimation {
    display: flex;
    justify-content: center;
  }

  .walletComponent {
    flex-direction: row;
    align-items: center;
  }

  .walletComponent2 {
    width: 80%;
  }
  
  .chartStatistique {
    width: 100%;
    margin-left: -10%;
  }
}

.buttonEstimation {
  width: 100%;
}

.buttonWallet {
  background-color: #3671e9;
  width: 150px;
  height: 60px;
  font-size: 18px;
  border-radius: 32px;
  color: white;
}

.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
}

.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: linear-gradient(
    91.89deg,
    #ff0000 -10.21%,
    rgba(136, 1, 1, 0.44) 115.96%
  );
  border-radius: 16px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
  opacity: 1;
  background-color: white;
}

.close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}