.walletContainer {
  background: #2b076e;
  padding-top: 30px;
}

.walletTitle {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  margin-block-start: 0%;
  margin-block-end: 0%;
}

.walletComponent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.estimationTitle {
  text-align: justify;
  color: white;
  font-size: 32px;
  line-height: 48px;
  font-weight: bold;
}

.estimationText {
  text-align: justify;
  color: white;
  font-size: 16px;
  line-height: 28px;
}

@media screen and (max-width: 750px) {
  .estimationText,
  .estimationTitle {
    text-align: center;
  }
}
